* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

body {
  /*  overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center; */
  /* background: #608da7; 
  background-size: cover;
  background-attachment: fixed;*/
  background: -webkit-image-set(url(chrome-search://theme/IDR_THEME_NTP_BACKGROUND?cknkimpcfkpmmikggddpidpmaljigegp) 1x, url(chrome-search://theme/IDR_THEME_NTP_BACKGROUND@2x?cknkimpcfkpmmikggddpidpmaljigegp) 2x);
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}
.left {
  position: relative;
  float: left;
  width: 50%;
}

.right {
  position: relative;
  float: right;
  width: 50%;
}

.center {
  float: center;
}

#logo {
  margin-right: 20px;
}
header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  letter-spacing: 5px;
  padding: 10px;
}
header h2 {
  margin-left: 20px;
  margin: auto 0;
}

#login-form {
  border-radius: 10px;
  background: #dbdada;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  position: relative;
  top: 50vh;
  left: 10%;
}
#login-form button {
  margin-top: 10px;
}

#menu-area {
  height: 45%;
  visibility: hidden;
  position: relative;
  top: 10%;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
}
#menu-area li {
  padding: 8px;
  margin-bottom: 7px;
  color: #ffffff;
}
#menu-area ul li input {
  width: 90%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* #menu-area li:hover {
  background-color: #0099cc;
} */

#users-area {
  visibility: hidden;
}
#logout {
  position: relative;
  margin-top: 50px;
}
/* #users-area li:hover {
  background-color: #0099cc;
} */

#welcome-div {
  float: left;
}
#game-field {
  visibility: hidden;
}

.noBottom-margin {
  margin-bottom: 0;
}

#versus {
  width: 500px;
  visibility: hidden;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#p-two {
  float: left;
}

#snake-race {
  visibility: hidden;
  background-color: black;
  border: 2px solid #252525;
}
/* 
.scorediv {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 5px auto;
  background: white;
  color: black;
  border: 1px solid #000;
  height: 50px;
  padding: 10px;
  z-index: 4;
} */

footer {
  padding: 5px;
  width: 100%;
  background: #252525;
  position: fixed;
  bottom: 0px;
  left: 0;
  text-align: center;
  color: #fff;
}

/*Media queries*/
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
