*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
   /*  overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
}

header h4 {
    margin-left: 20px;
}

#menu{
    position: relative;
    top: 15vh;
    margin-top: 10px;
    margin-left: 40px;
}
#menu li{
    margin-bottom: 30px;
}
#menu ul li input{
    height: 50px;
    width: 80%;;
}

/* #game-field{
    margin-top: 10px;
    height:610px;
    width: 70%;
    margin: 0 auto;
} */
#snake{
    visibility: hidden;
    background-color: black;
    border: 20px solid #252525;
}

footer{
    padding: 5px;
    width: 100%;
    background: #252525;
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    color: #fff;
}